
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }
    function isAdmin() { return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid)); }

    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create, update: if isOwner(userId);
      allow delete: if isAdmin();

      match /plants/{plantId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /posts/{postId} {
      // 명시적으로 get과 list를 isSignedIn()인 사용자에게 허용
      allow get, list: if isSignedIn();
      allow create: if isSignedIn();
      // 작성자이거나 좋아요(likes) 필드만 업데이트하는 경우 허용
      allow update: if isSignedIn() && (request.auth.uid == resource.data.authorId || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']));
      allow delete: if isSignedIn() && (request.auth.uid == resource.data.authorId || isAdmin());

      match /comments/{commentId} {
        allow get, list: if isSignedIn();
        allow create: if isSignedIn();
        allow update, delete: if isSignedIn() && (request.auth.uid == resource.data.authorId || isAdmin());
      }
    }

    match /daily_fortunes/{fortuneDate} { allow read: if isSignedIn(); allow write: if isAdmin(); }
    match /daily_problems/{fortuneDate} { allow read: if isSignedIn(); allow write: if isAdmin(); }
    match /roles_admin/{adminId} { allow get: if isSignedIn(); allow write: if false; }
  }
}
